ac-comphist.dat
auto-save-list
backups
elpa
ido.last
init.el~
projectile-bookmarks.eld
.python-environments
network-security.data
recentf
transient
eshell
.lsp-session*
bookmarks
.cache
history
places
projects
custom.el
